@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
    font-family: "League Spartan", sans-serif;
    text-decoration: none;
    transition: ease-in-out 0.3s;
    color: #e6e6e6;
  }

body {
    background-color: darkseagreen;
    text-align: center;
}

.quadrado {
  text-align: center;
  width: 110px;
  background-color: #e6e6e6;
  display: inline-block;
  padding: 40px;
  margin: 5px;
  font-size: 40px;
  cursor: pointer;
  color: #e6e6e6;
  border-radius: 4px;
  box-shadow: #121212;
  user-select: none;
}

.corpo-card {
  background-image: url("./Galaxy12.jpg");
  width: 32rem;
  border-radius: 25px;
  margin-top: 1rem;
}

.jogador, .vencedor {
  font-size: 32px;
  margin-top: 1rem;
}

button {
  margin-top: 1rem;
  width: 100px;
  height: 30px;
  cursor: pointer;
  font-size: 16px;
  color: #121212;
  margin-bottom: 1rem;
}

h1 {
  margin-bottom: 1rem;
  padding-top: 2rem;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 8rem;
  margin-right: 8rem;
}


.card-status {
  flex-direction: column;
  background-color: #121212;
  width: 24rem;
  border-radius: 12px;
}

.card-status .textos h2 {
  margin-bottom: 2rem;
}